# Dependencies
node_modules/

# Build
dist/
build/
target/

# Environment variables
.env
.env.*

# Logs
logs/
*.log

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Java
*.class

# Vercel
.vercel/

#Maven
.mvn/

#Coverage
coverage/

# Cypress
cypress/videos/
cypress/screenshots/
cypress/downloads/
