/* <h1> en encuesta (da el inicio de la encuesta)*/
.title-encuesta {
  display: flex;
  color: #0066cc;
  font-size: 4rem;
  font-weight: 600px;
}

/* h3 en Encuesta (es solo el subtitulo) */
.subtitle-encuesta {
  display: flex;
  color: #0066cc;
  font-size: 2.5rem;
  font-weight: 600px;
}

/* <p> en Encuesta */
.question {
  font-size: 1.5rem;
  font-weight: 600px;
}

/* Label (es la numeracion de cada opcion en la encuesta) */
.encuesta-label {
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  font-weight: 600px;
}

/* Options (le da el estilo al contenedor que tiene todas las opciones) */
.base-options {
  display: flex;
  gap: 1rem;
  justify-content: left;
}

/* Textarea de la encuesta */
.encuesta-textarea {
  border: 0px;
  background: #f3f3f3;
  height: 273px;
  width: 633px;
  resize: none;
  font-size: 1.3rem;
}

/* Button enviar encuesta */
.button-enviar {
  width: 206px;
  height: 56px;
  font-size: 1.5rem;
  background: #4c4c4c;
  color: #f3f3f3;
  border: 0px;
  border-radius: 20px;
}

/* imagen de decoracion wave */
.wave-img {
  margin-top: 150px;
  width: 100%;
  display: block;
}
