.contenedor-participacion {
  padding: 20px 40px;
  width: 100%;
}

.titulo-pagina {
  text-align: center;
  color: #0066cc;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 30px;
}

/* Grid de tarjetas */
.grid-tarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px 70px;
}

/* Espacio antes del footer pa que no choque*/
.espacio-footer {
  height: 150px;
}
